# Supabase Configuration
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
# NextAuth Configuration
NEXTAUTH_URL=
NEXTAUTH_SECRET=
NEXTAUTH_PROVIDERS=supabase,email

# Database Configuration (for Prisma)
# Connect to Supabase via connection pooling
DATABASE_URL="

# Direct connection to the database. Used for migrations
DIRECT_URL=

# Email Configuration (TO DO :INTEGRATE Resend)


# Application Settings
NODE_ENV=development
NEXT_PUBLIC_APP_ENV=development
